// /////////
// Fonts 
// ////////

$header-blue: #3d0e80;

@font-face {
    font-family: 'ObjectSans-Regular';
    src: url('../../assets/fonts/ObjectSans-Regular.WOFF');
 }
 
 @font-face{
     font-family: 'ObjectSans-Heavy';
     src: url('../../assets/fonts/ObjectSans-Heavy.WOFF');
 }
